html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
	q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
	th, td, article, aside, canvas, details, figcaption, figure, footer,
	header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	width: auto;
	vertical-align: baseline;
	background: transparent;
	
}



a {
	font-style: oblique;
}

body {
	background-color: #D3CFC6;
	overflow-x: hidden;
	overflow-y: scroll;
}



.center-content {
	margin: 40px auto;
	max-width: 800px;
	
	background-color: #F5F5F5;
	border-left: 5px solid #B99890;
	padding: 20px;
}



div#banner-wrapper a, .navbar a {
	color: inherit;
	font-style: normal;
	text-decoration: none;
}

div#banner-wrapper {
	width: 100%;
	height: 100px; /* height of the background image? */
	background: url("/img/tartan.jpg") repeat-x 0 0;
	background-color: #063119;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 0px;
}

div#banner-wrapper div#banner {
	display: inline-block;
	color: #F9EED5;
	font-size: 150%;
}

div#banner-wrapper h1 {
	background: #124126;
	border: 5px solid #446C55;
	padding: 0 50px;
	display: block;
	white-space: nowrap;
}

.nav-wrapper {
	max-width: 700px;
	margin: 0 auto;
}

.navbar {
	width: 100%;
	border-top: 16px solid #0A142E;
}

.navbar a {
	display: block;
	color: #F5F2EB;
	width: 100%;
	height: 100%;
	
	font-size: 125%;
	
	background-color: #212C48;
	
	border: 5px solid #000;
	border-left-color: #444D66;
	border-top-color: #444D66;
	border-bottom-color: #30374C;
	border-right-color: #30374C;
}

.navbar table {
	width: 100%;
	height: 50px;
	
	position: relative;
	top: -35px;
}

.navbar td {
	position: initial;
	padding: 5px 3px;
	text-align: center;
	
	color: #F5F2EB;
	
}
.navbar a:hover {
	background: #444D66;
	
	border: 5px solid #000;
	border-left-color: #212C48;
	border-top-color: #212C48;
	border-bottom-color: #444D66;
	border-right-color: #444D66;
}





/*									CHAT */

.chat-section {
	display:block;
    font-family: monospace;
    font-size: 14px;
    
    width: 100%;
	height: 100%;
	
    margin: 0;
}

.chat-section #chatControls {
    width: 100%;
    overflow: hidden;
    float:left;
}

.chat-section input {
	display: inline-block;
    width: 100%;
    float: left;
}

.chat-section #chatControls span {
    display: block;
   
    
    overflow: hidden;
    margin-right: 20px;
    padding-right: 10px;
}

.chat-section button {
    float: right;
}

.chat-section li {
    margin: 5px 0;
}

.chat-section #userlist {
    float: right;
    
    list-style: none;
    background: #f0f0f9;
    padding: 5px 10px;
    width: 150px;
    
    margin: 5px 0;
    margin-left: 20px;
}

.chat-section #chat-wrapper {
	overflow-x: hidden;
    overflow-y: scroll;
    
    min-width: 300px;
    max-width: 100%;
    height: 500px;
}

.chat-section #chat {
	margin: 5px;
}

.chat-section #chat p {
    margin: 5px 0;
    font-weight: 300
}

.chat-section #chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

.chat-section #chat article {
    background: #F5F5F5;
    padding: 10px;
    margin: 10px auto;
    max-width: 480px;
    border-left: 5px solid #9D9B99;
    position: relative;
    word-wrap: break-word;
}

.chat-section #chat article:first-of-type {
    background: #D9FFE9;
    border-left-color: #56CE8A;
    animation: enter .2s 1;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}

