.chat-section {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 14px;
    
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
}

.chat-section #chatControls {
    width: 100%;
    overflow: hidden;
}

.chat-section input {
    width: 100%;
    float: left;
}

.chat-section #chatControls span {
    display: block;
    overflow: hidden;
    margin-right: 20px;
    padding-right: 10px;
}

.chat-section button {
    float: right;
}

.chat-section li {
    margin: 5px 0;
}

.chat-section #userlist {
    position: fixed;
    left: 50%;
    list-style: none;
    margin-left: 250px;
    background: #f0f0f9;
    padding: 5px 10px;
    width: 150px;
    margin-top: 11px;
}

.chat-section #chat {
	overflow-x: hidden;
    overflow-y: visible;
}

.chat-section #chat p {
    margin: 5px 0;
    font-weight: 300
}

.chat-section #chat .timestamp {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px;
}

.chat-section #chat article {
    background: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #aaa;
    position: relative;
    word-wrap: break-word;
}

.chat-section #chat article:first-of-type {
    background: #c9edc3;
    border-left-color: #74a377;
    animation: enter .2s 1;
}

@keyframes enter {
    from { transform: none;        }
    50%  { transform: scale(1.05); }
    to   { transform: none;        }
}
