.container {
	display: block;
	height: 100%;
	margin: 30px auto;
}

.container .play-li {
	display: block;
	height: 100%;
}

#play-chat {
	display: block;
	
	width : 100%;
	max-width: 550px;
	
	position: relative;
	bottom: 0;
	
	margin: auto;
	border-top: 5px solid #F5F5F5;
	
}

#play-chat .chat-section {
	background-color: #9D9B99;
	
	
	min-height: 50px;
	height: 250px;
}

#play-chat h2 {
	color: #0A142E;
	text-align: center;
	background-color: #BBBBBB;
}

#play-chat .chat-section #chat-wrapper {
	background-color: #BBBBBB;
}

#play-sandbox-container {
	color: #B6C6F0;
	overflow: hidden;
	background-color: #444D66;
	border: 5px solid #16203E;
	width: 700px;
	height: 400px;
	margin: 0px auto;
	margin-top: 30px;
	padding: 10px;
}

#play-sandbox {
	display: block;
}

.deck-card {
	display: block;
	background: #B4ADAB;
	margin-bottom: -120px;
	width: 90px;
	height: 150px;
	color: #16203E;
	border: 2px solid #212C48;
 animation: enter .2s 1;
}

.deck-card-active {
	display: block;
	background: #F5EDEB;
	margin-bottom: -120px;
	width: 90px;
	height: 150px;
	color: #16203E;
	border: 2px solid #212C48;
 animation: enter .2s 1;
}

#play-sandbox {
	text-align: center;
}

#center {
	float: center;
	
	display: block;
	margin: 0 150px;
	
	width: 350px;
}

#north {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

#west {
	position: relative;
	float: left;
	max-width: 140px;
	height: 300px;
	top: 0; left: 0; bottom: 0; /**/
}

#east {
	float: right;
	max-width: 140px;
}

#south {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
}