.container {
	display: block;
	height: 100%;
	max-width: 700px;
	margin: 30px auto;
}

.container .play-li {
	display: block;
	height: 100%;
}

#play-chat {
	display: block;
	
	width : 100%;
	max-width: 550px;
	
	position: relative;
	bottom: 0;
	
	margin: auto;
	margin-top: 30px;
	border-top: 5px solid #F5F5F5;
	
}

#play-chat .chat-section {
	background-color: #9D9B99;
	
	
	min-height: 50px;
	height: 250px;
}

#play-chat h2 {
	color: #0A142E;
	text-align: center;
	background-color: #BBBBBB;
}

#play-chat .chat-section #chat-wrapper {
	background-color: #BBBBBB;
}

#play-sandbox-container {
	color: #B6C6F0;
	overflow: hidden;
	background-color: #444D66;
	border: 5px solid #16203E;
	
	min-width: 500px;
	width: 100%;
	max-width: 700px;
	
	
	
	height: 400px;
	margin: 0px auto;
	margin-top: 30px;
	padding: 10px;
	position: relative;
}

#play-sandbox {
	display: block;
}

#play-sandbox a {
    text-decoration: none;
    font-syle: oblique;
}


#deck-card {
	display: block;
	background: #B4ADAB;
	margin-bottom: -100px;
	width: 90px;
	height: 150px;
	color: #636A7C;
	border: 2px solid #212C48;
 animation: enter .2s 1;
}

#deck-card.active {
	background: #F5EDEB;
	color: #16203E;
}

#deck-card:hover {
	margin-bottom: -60px;
}

#deck-card h6 {
	display: none;
}

#deck-card:hover h6 {
	display: block;
}

#play-sandbox {
	text-align: center;
}

#center {
	float: center;
	
	display: block;
	margin: 0 150px;
	
	width: 350px;
}

#north {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
}

#west {
	position: relative;
	background: #30374C;
	float: left;
	max-width: 140px;
	height: 300px;
	left: 0; /**/
	overflow: hide;
}

.deck {
	position: absolute;
	top: 30px;
	bottom: 0;
	right: 0;
	left: 0;
	
	margin-left: 10px;
	
	overflow-y: scroll;
	overflow-x: show;
}

#east {
	position: relative;
	background: #30374C;
	float: right;
	max-width: 140px;
	height: 300px;
	right: 0; /**/
	overflow: hide;
}

#south {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100px;
}

#south #promptDiv {
	background-color: #575C6C;
	margin: 0 auto;
	height: 100px;
	width: 350px;
}